<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.aozun.testapplication"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- sd卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许挂载和反挂载文件系统可移动存储 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/> -->
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <!-- android:name="com.mob.MobApplication" -->
    <application
        android:name=".utils.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 日期选择页面 -->
        <activity android:name=".FirstActivity" />
        <!-- 自定义画廊效果页面 -->
        <activity android:name=".HrActivity" />
        <!-- okHttp网络请求 -->
        <activity android:name=".OkHttpActivity" />
        <!-- ORMLite操作数据库 -->
        <activity android:name=".activity.ORMLiteActivity" />
        <!-- litePal操作数据库 -->
        <activity android:name=".activity.LitePalActivity" />
        <!-- rxjava rxAndroid异步操作页面 -->
        <activity android:name=".activity.RxActivtity" />
        <!-- 密码验证页面 -->
        <activity android:name=".activity.PwdViewActivity" />
        <!-- 视频弹幕效果页面 -->
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- 图表绘制页面 -->
        <activity android:name=".activity.MPChartActivity" />
        <!-- retrofit网络请求页面 -->
        <activity android:name=".activity.Retrofit2Activity" />
        <!-- activity基类 -->
        <activity android:name=".activity.BaseActivity" />
        <!-- 主界面 -->
        <activity android:name=".MainActivity" />
        <!-- 自定义scrollview页面 -->
        <activity android:name=".activity.DiscrollActivity" />
        <!-- 监听锁屏的服务 -->
        <service
            android:name=".service.LockService"
            android:enabled="true" />
        <!--  -->
        <activity android:name=".activity.RenRenActivity" />
        <!-- 垂直滚动广告条页面 -->
        <activity android:name=".activity.ViewFlipperActivity" />
        <!-- 二维码扫描页面 -->
        <activity
            android:name=".activity.ZxingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="zxing.MipcaActivityCapture"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 异常退出页面 -->
        <activity android:name=".activity.CrashActivity" />
        <activity android:name=".activity.ViewsActivity" />
        <!-- 引导页 -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <!-- Gif图片页面 -->
        <activity
            android:name=".activity.GifActivity"
            android:screenOrientation="portrait" />
        <!-- 自定义相机页面 -->
        <activity android:name=".activity.CameraActivity" />
        <activity
            android:name=".activity.LottieActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.ShowImageActivity" />
        <activity android:name=".activity.SplashScreenActivity" />
        <activity android:name=".activity.WebActivity" />
        <!-- tencent -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106166855" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.PersonageActivity" />
        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1ef4db4eca1e7" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="43723415fc5b6cd396d280a57308dedc" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 钉钉分享回调 -->
        <activity
            android:name=".ddshare.DDShareActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MapActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SYyRSHNYXfjNZpab6HGZ4qkx" />
        <!--
         <meta-data android:name="com.amap.api.v2.apikey" android:value="4301b525606aab09c4d9a8b4fa5c54a8">
         </meta-data>
        -->
        <!-- <service android:name="com.amap.api.location.APSService"></service> -->
        <activity android:name=".activity.CountDownFullActivity" />
        <activity
            android:name=".activity.PhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.MediaActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            ></activity>
    </application>
</manifest>