<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.aozun.testapplication"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MobileApplication"
        android:allowBackup="true"
        android:icon="@drawable/test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LockActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 日期选择页面 -->
        <activity
            android:name=".FirstActivity"
            android:screenOrientation="landscape" />
        <!-- 自定义画廊效果页面 -->
        <activity
            android:name=".HrActivity"
            android:screenOrientation="landscape" />
        <!-- okHttp网络请求 -->
        <activity
            android:name=".OkHttpActivity"
            android:screenOrientation="landscape" />
        <!-- ORMLite操作数据库 -->
        <activity
            android:name=".activity.ORMLiteActivity"
            android:screenOrientation="landscape" />
        <!-- litePal操作数据库 -->
        <activity
            android:name=".activity.LitePalActivity"
            android:screenOrientation="landscape" />
        <!-- rxjava rxAndroid异步操作页面 -->
        <activity
            android:name=".activity.RxActivtity"
            android:screenOrientation="landscape" />
        <!-- 密码验证页面 -->
        <activity
            android:name=".activity.PwdViewActivity"
            android:screenOrientation="landscape" />
        <!-- 视频弹幕效果页面 -->
        <activity
            android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <!-- 图表绘制页面 -->
        <activity
            android:name=".activity.MPChartActivity"
            android:screenOrientation="landscape" />
        <!-- retrofit网络请求页面 -->
        <activity
            android:name=".activity.Retrofit2Activity"
            android:screenOrientation="landscape" />
        <!-- activity基类 -->
        <activity android:name=".activity.BaseActivity" />
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <!-- 自定义scrollview页面 -->
        <activity
            android:name=".activity.DiscrollActivity"
            android:screenOrientation="landscape" />
        <!-- 监听锁屏的服务 -->
        <service
            android:name=".service.LockService"
            android:enabled="true" />
        <!--  -->
        <activity android:name=".activity.RenRenActivity" />
        <!-- 垂直滚动广告条页面 -->
        <activity
            android:name=".activity.ViewFlipperActivity"
            android:screenOrientation="landscape" />
        <!-- 二维码扫描页面 -->
        <activity
            android:name=".activity.ZxingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="zxing.MipcaActivityCapture"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 异常退出页面 -->
        <activity
            android:name=".activity.CrashActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SnackbarActivity"
            android:screenOrientation="landscape"
            ></activity>
    </application>
</manifest>